<div class="codeStyle">

    {%  liquid 
        assign title = section.settings.title  | upcase |  append: ' 33' 
        assign sub = section  .settings.subtitle
        assign content = section.settings.content

        capture allcontent
        echo '<h2>' | append: title | append: '</h2>'
        echo '<h3>' | append: sub | append: '</h3>'
        echo '<div>' | append: content | append: '</div>'
        endcapture
    %}

<ul>
        {% for block in section.blocks %}
            <li>{{block.settings.title }} ({{ forloop.index }})</li>
        {% endfor %}
</ul>


 
    {{ allcontent }}


</div>

{%  style  %} 
    .codeStyle{
        max-width: 1000px;
        margin: 100px auto;
    }
{% endstyle %}


{% schema %}

{
    "name": "Custom Code",
    "disabled_on": {
        "groups": ["header", "footer"]
    },
    "tag": "section",
    "class": "custom_code",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Hello this title"
        },
        {
            "type": "richtext",
            "id": "subtitle",
            "label": "Sub Title",
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nesciunt omnis incidunt quidem modi veniam accusamus consequuntur hic quae suscipit. Repudiandae atque consequatur voluptates!</p>"
        },
        {
            "type": "html",
            "id": "html",
            "label": "HTML Code"
        },
        {
            "type": "liquid",
            "id": "liquid",
            "label": "Liquid"
        }
    ],
    "blocks": [],
    "presets": [
        {
            "name": "code"
        }
    ]
}

{% endschema %}