<div class="codeStyle">
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur cumque enim fugit facilis tenetur nobis sapiente sit debitis porro, maiores consequuntur ipsa aperiam officia, eius neque repudiandae deleniti, voluptas dolorum.
</p>
</div>

{%  style  %} 
    .codeStyle{
        max-width: 1000px;
        margin: 100px auto;
    }
{% endstyle %}


{% schema %}

{
    "name": "Custom Code",
    "tag": "section",
    "class": "Custm Code",
    "settings": [],
    "presets": [
        {
            "name": "code"
        }
    ],
}

{% endschema %}