<div class="codeStyle">

    <h2>{{ section.settings.title }}</h2>
    <h3>{{ section.settings.subtitle }}</h3>
    <div>
        {{ section.settings.content }}
    </div>


</div>

{%  style  %} 
    .codeStyle{
        max-width: 1000px;
        margin: 100px auto;
    }
{% endstyle %}


{% schema %}

{
    "name": "Custom Code",
    "disabled_on": {
        "groups": ["header", "footer"]
    },
    "tag": "section",
    "class": "custom_code",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Hello this title"
        },
        {
            "type": "richtext",
            "id": "subtitle",
            "label": "Sub Title",
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nesciunt omnis incidunt quidem modi veniam accusamus consequuntur hic quae suscipit. Repudiandae atque consequatur voluptates!</p>"
        }
    ],
    "blocks": [],
    "presets": [
        {
            "name": "code"
        }
    ],
}

{% endschema %}